
@{
    ViewBag.Title = "TablePay";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Cotizador.Models.Pay payment = (Cotizador.Models.Pay)ViewBag.payment;
    double total = 0;
}

<div class="row">
    <h1>Tabla de Amortización Crédito Automotriz</h1>
</div>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        Crédito
                    </div>
                    <div class="col-2">
                        @string.Format("{0:C}", ViewBag.sum)
                    </div>
                    <div class="col-3">
                        Fecha de simulación
                    </div>
                    <div class="col-2">
                        @DateTime.Now.ToString("dd/MM/yyyy")
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        Plazo
                    </div>
                    <div class="col-2">
                        @ViewBag.deadline meses
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col">
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Pago</th>
                    <th>Saldo Insoluto</th>
                    <th>Pago Mensual Capital</th>
                    <th>Pago Mensual Intereses</th>
                    <th>IVA Intereses</th>
                    <th>Pago Total con IVA</th>
                </tr>
            </thead>
            <tbody>
                                 
                @for (int i = 1; i <= ViewBag.deadline; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td>@string.Format("{0:C}", Math.Round(payment.Sum), 2)</td>
                        <td>@string.Format("{0:C}", Math.Round(payment.PayCapital((double)ViewBag.sum)), 2)</td>
                        <td>@string.Format("{0:C}", Math.Round(payment.PayInterest()), 2)</td>
                        <td>@string.Format("{0:C}", Math.Round(payment.PayIva()), 2)</td>
                        <td>@string.Format("{0:C}", Math.Round(payment.PayCapital((double)ViewBag.sum) + payment.PayInterest() + payment.PayIva()), 2)</td>
                    </tr>
                    payment.Sum = payment.Sum - payment.PayCapital((double)ViewBag.sum);
                    total += Math.Round(payment.PayCapital((double)ViewBag.sum + payment.PayInterest() + payment.PayIva()), 2);
                }
                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Total a pagar</td>
                    <td>@string.Format("{0:C}",total)</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>